*.sdf
*.sln
*.v12.suo
*.vcxproj
*.vcxproj.filters
*.xcodeproj
Project_IRF/build/*
Project_IRF/build
Project_IRF/project/build/sources/release/*

Project_IRF/project/build/templates/release/*

Project_IRF/cnn/*
Project_IRF/cnn